<div class="container mt-4">
  <h2>Book Details</h2>
  <div *ngIf="!isLoading; else loading">
    <div class="header-buttons">
      <button
        type="button"
        class="btn btn-warning"
        data-bs-toggle="modal"
        data-bs-target="#editBookModal"
      >
        Edit
      </button>
      <button
        type="button"
        class="btn btn-danger"
        data-bs-toggle="modal"
        data-bs-target="#confirmDeleteModal"
      >
        Delete
      </button>
    </div>
    <h3>{{ bookDetails?.title }}</h3>
    <p><strong>Author:</strong> {{ bookDetails?.author?.name }}</p>
    <p><strong>Category:</strong> {{ bookDetails?.category?.name }}</p>
    <p><strong>Published Year:</strong> {{ bookDetails?.publishedYear }}</p>
    <p><strong>Description:</strong> {{ bookDetails?.description }}</p>
    <p><strong>Last Time Updated:</strong> {{ bookDetails?.updatedAt }}</p>
  </div>
  <!-- edit nook modal -->
  <app-edit-book-modal
    [bookDetails]="bookDetails"
    (onSave)="handleSave($event)"
  ></app-edit-book-modal>
  <!-- delete modal -->
  <app-confirm-delete-modal
    itemType="Book"
    [itemName]="bookDetails?.title"
    (onConfirm)="deleteBook()"
  ></app-confirm-delete-modal>
  <!-- loading spinner-->
  <ng-template #loading>
    <app-loading-spinner></app-loading-spinner>
  </ng-template>
</div>
